*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkblue;
}

#myDiv {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
  "top1 top1 top2 top2"
  "main main main right"
  "foot foot foot foot";
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
}

#myDiv > * {
  border-radius: 5px;
  background-color: blue;
}

#top1 {
  grid-area: top1;
}

#top1 button {
  display: block;
  box-shadow: 1px 2px black;
  width: 80%;
  border-radius: 5px;
  padding: 0;
  margin: auto;
  margin-bottom: 2%;
  border: none;
}

#top1 button {
  background-color: darkblue;
  color: white;
}

#top1 button:nth-child(even):hover {
  background-color: darkcyan;
  color: black;
}

#top1 button:nth-child(odd):hover {
  background-color: lightgray;
  color: red;
}

#top2 {
  grid-area: top2;
}

#top2 ol {
  margin-left: 9%;
}

#top2 ol li {
  background-color: rgb(23, 23, 143);
  margin-top: 2px;
  border-radius: 5px;
  padding: 1%;
  box-shadow: none;
}

#top2 ol li:nth-child(1):hover::after {
  content: " 1 year";
  color: white;
}

#top2 ol li:nth-child(2):hover::after {
  content: " 2 year";
  color: red;
}

#top2 ol li:nth-child(3):hover::after {
  content: " 3 year";
  color: white;
}

#top2 ol li:nth-child(4):hover::after {
  content: " 3 year";
  color: white;
}

#main {
  grid-area: main;
}

#main header:hover::after {
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut";
  background-color: purple;
  display: block;
}

#right {
  grid-area: right;
  display: grid;
  place-items: center;
}

#right img {
  display: block;
  width: 90%;
}

#footer {
  grid-area: foot;
}

#grad {
  margin-top: 2%;
  display: block;
  background: linear-gradient(to bottom right, red, yellow);
  text-align: center;
}